@model NodeCreation

<h2>Node Adding</h2>

@if (ViewData["Errors"] is not null)
	@foreach (var failure in (List<FluentValidation.Results.ValidationFailure>)ViewData["Errors"])
	{
		<p>@failure.PropertyName : @failure.ErrorMessage</p>
	}

<form asp-action="AddNode" asp-controller="Verified" method="post">
	<div>
		<p>
			<label asp-for="Node.Title"></label> <br />
			<input asp-for="Node.Title" type="text" />
		</p>
		<p>
			<label asp-for="Node.Description"></label> <br />
			<textarea asp-for="Node.Description"></textarea>
		</p>

		<p>
			<input id="deadlineCheckbox" type="checkbox"/>
			Has DeadLine?
		</p>
		
		<div id="deadLineSetter" style="display:none">
			<label>DeadLine time</label> <br />

			<label asp-for="DeadLineTime.Days">Days</label>
			<input asp-for="DeadLineTime.Days" type="number" value="0" /> <br />

			<label asp-for="DeadLineTime.Hours">Hours</label>
			<input asp-for="DeadLineTime.Hours" type="number" value="0" /> <br />

			<label asp-for="DeadLineTime.Minutes">Minutes</label>
			<input asp-for="DeadLineTime.Minutes" type="number" value="0" />
		</div>

		<p>
			<input id="responsibleCheckbox" type="checkbox" />
			Has Responsible?
		</p>

		<div id="responsibleSetter" style="display:none">

			<label asp-for="Responsible">Responsible</label>
			<input asp-for="Responsible" type="text"/> <br />
		</div>

		<br />

		<input type="submit" value="Create" />
	</div>
</form>

<a asp-controller="Verified" asp-action="Nodes">Back</a>

<script>
	let deadlineCheckbox = document.getElementById("deadlineCheckbox");
	let responsibleCheckbox = document.getElementById("responsibleCheckbox");

	deadlineCheckbox.addEventListener("click", function ()
	{
		let dlSetter = document.getElementById("deadLineSetter");
		if (deadlineCheckbox.checked) {
			dlSetter.style = "display:block";
		}
		else {
			dlSetter.style = "display:none";
		}
	});

	responsibleCheckbox.addEventListener("click", function ()
	{
		let responsibleSetter = document.getElementById("responsibleSetter");
		if (responsibleCheckbox.checked) {
			responsibleSetter.style = "display:block";
		}
		else {
			responsibleSetter.style = "display:none";
		}
	});
</script>