@model Node

<h2>Node Adding</h2>

@if (ViewData["Errors"] is not null)
	@foreach (var failure in (List<FluentValidation.Results.ValidationFailure>)ViewData["Errors"])
	{
		<p>@failure.PropertyName : @failure.ErrorMessage</p>
	}

<form asp-action="AddNode" asp-controller="Verified" method="post">
	<div>
		<p>
			<label asp-for="Title"></label> <br />
			<input asp-for="Title" type="text" />
		</p>
		<p>
			<label asp-for="Description"></label> <br />
			<textarea asp-for="Description"></textarea>
		</p>

		<br />

		<input type="submit" value="Create" />
	</div>
</form>

<a asp-controller="Verified" asp-action="Nodes">Back</a>