@model Node

<h2>Node editing</h2>

@if (ViewData["Errors"] is not null)
	@foreach (var failure in (List<FluentValidation.Results.ValidationFailure>)ViewData["Errors"])
	{
		<p>@failure.PropertyName : @failure.ErrorMessage</p>
	}

<form method="post">
	<p>
		<label>Title</label>
		<input type="text" asp-for="Title"/>
	</p>
	<p>
		<label>Description</label>
		<textarea asp-for="Description"></textarea>
	</p>
	<input type="submit" value="Edit"/>
</form>

<a asp-controller="Verified" asp-action="Nodes">Back</a>