@model User

<h2>Authorization</h2>

<p>@ViewData["Errors"]</p>

<form method="post">
	<p>
		<label asp-for="Name">Name</label> <br />
		<input type="text" asp-for="Name" />
	</p>
	<p>
		<label asp-for="Password">Password</label> <br />
		<input type="text" asp-for="Password" />
	</p>
	<input type="submit" value="Login" />
</form>

<a asp-route="Main">Back</a>